#header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 1.25rem;
    background: cornflowerblue;
    box-shadow: 0px 14px 17px -11px rgba(0,0,0,0.75);
}

.header-logo{
    height: 1.5em;
    aspect-ratio: 1/1;
    margin-right: 0.5rem;
}

.header-title{
    text-transform: lowercase;
    flex-shrink: 0;
    border-bottom: 0.1em white solid;
    
}